@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&family=Outfit:wght@700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  background: white;
}

.main-wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #f7f8fd;
}

nav {
  margin: 2.6em;
  flex-grow: 1;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2em;
  padding: 0 2.3em;
}

nav ul li a {
  position: relative;

  text-decoration: none;
  font-size: 0.9rem;
  font-family: "Kumbh Sans";
  color: #68707d;
}

nav ul li a:hover {
  color: #1d2025;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 1px;
  bottom: -43px;
  height: 4px;
  width: 0%;
  background: #ff7d1a;
  transition: all 1s;
  z-index: 1;
}

nav ul li a:hover::after {
  width: 100%;
}

.wishlist {
  display: flex;
  align-items: center;
  gap: 1.4em;
}

/* ----------- about --------------- */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  gap: 1em;
}

.about-title {
  padding: 0em 1em;
  width: 600px;
  height: 250px;
  border-radius: 8px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  opacity: 2;
}
